.dark {
  min-width: 100%;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #101214;
}

.header {
  min-height: 100vh;
  /* border: 1px solid rgb(0, 255, 110); */
  display: flex;
}

.Hero {
  height: 100vh;
  width: 70%;
}

.intro {
  /* min-width: 20vw;
  border: 1px solid blue; */
  /* padding-bottom: 200px; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  padding-top: 300px;
  font-size: x-large;
}

.heading {
  font-size: x-large;
  margin-bottom: 5rem;
  line-height: 50px;
}

.highlighted_about {
  /* color: rgb(54, 81, 130); */
  color: #4c3d52;
  font-size: larger;
}

h1 {
  color: rgb(44, 44, 44);
}

.highlighted {
  color: rgb(100, 83, 208);
}

.main {
  z-index: 10;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5rem;
  font-size: large;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}



.individual_sections {
  position: relative;
  z-index: 6;
  min-height: 95vh;
  /* border: 1px solid rgb(46, 46, 46); */
  text-align: center;
  padding: 5rem;
  padding-inline: 3rem;
  /* color:rgb(205, 131, 94) */
  /* background-color: rgba(12, 12, 68, 0.234); */
}

.content {
  padding-top: 7rem;
}

li {
  list-style-type: none;
}

#panel1-header {
  transition: 0.5s ease-in-out;
  font-size: larger;
}

#panel1-header:hover {
  border: 2px solid rgb(43, 43, 65);
  padding-inline: 2rem;

}

.edu_result {
  color: rgb(183, 145, 183);
}

.institute {
  color: grey;
}

/* skills */
.skills_section {
  padding-top: 7rem;
}

.template_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-inline: auto;
  padding-top: 10rem;
}

.template {
  height: max-content;
  width: max-content;
  border: 2px solid rgba(63, 86, 110, 0.401);
  margin: 1.2rem;
  padding: 1.5rem;
  /* display: flex; */
  min-width: 375px;
  height: 250px;
}

.glass:hover {
  /* margin-inline: 3rem; */
  background: linear-gradient(135deg, rgba(73, 163, 156, 0.1), rgba(81, 121, 51, 0));
}

.glass {
  background: linear-gradient(135deg, rgba(203, 251, 247, 0.1), rgba(225, 253, 203, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  transition: 1s ease-in-out;
}

.sub-Heading {
  text-align: right;
  font-size: x-large;
  color: rgb(146, 193, 134);
}

.main_hr {
  margin-block: 10px;
  /* outline: none; */
  border:1px dotted rgb(95, 55, 9);
  outline: none;
}


.template_content {
  display: flex;
  justify-content: space-evenly;
  text-align: left;
  /* margin-top: 1rem; */
}


.skill_items {
  color: rgb(57, 57, 57);
}


.front {
  /* margin-bottom: 0.2rem; */
  padding-block: 10px;
  white-space: nowrap;
  font-weight: 600;
  color: rgb(82, 82, 82)
}

/* projects */
.project_template {
  height: max-content;
  width: max-content;
  border: 2px solid rgba(63, 86, 110, 0.401);
  margin: 1.2rem;
  /* padding: 1.5rem; */
  /* display: flex; */
  min-width: 375px;
  height: 250px;
}

.project_glass:hover {
  /* margin-inline: 3rem; */
  background: linear-gradient(135deg, #3f324422, rgba(51, 53, 121, 0.003));
}

.project_glass {
  background: linear-gradient(135deg, #4d3c3147, rgba(106, 74, 92, 0.042));
  /* background: linear-gradient(135deg, #60495a3c, rgba(106, 74, 92, 0.042)); */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  transition: 1s ease-in-out;
}

.project_sub_Heading{
color: #3e3e3e;
font-size: xx-large;
font-weight: 800;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.project_template_content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}
.project_img{
  color:"#60495A";
  /* background-color: white; */
}

@media only screen and (max-width: 600px) {
  .header {
    flex-direction: column-reverse;

  }

  .Hero {
    width: 100%;
    /* border: 1px solid red; */

  }

  .intro {
    padding-top: 2rem;
    font-size: medium;
    margin-left: 6rem;
    margin-top: 10rem;
  }

  .Hero {
    height: 100vh;
    width: 99%;
  }

  .back {
    display: none;
  }
}