.dark {
  min-width: 100%;
  /* z-index: -10; */

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.header {
  min-height: 100vh;
  /* border: 1px solid rgb(0, 255, 110); */
  display: flex;
}
.Hero {
  height: 100vh;
  width: 50%;
}
.intro{
  /* min-width: 20vw;
  border: 1px solid blue; */
  /* padding-bottom: 200px; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  padding-top:300px ;
  font-size: x-large;
}
.fewLines{
  /* padding-top: 100px; */
  margin-top: 200px;
  margin-left: 200px;
}
.highlighted{
  color:rgb(100, 83, 208);
}

.main {
  z-index: 10;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5rem;
  font-size: large;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}



.individual_sections {
  position: relative;
  z-index: 6;
  min-height: 100vh;
  border: 1px solid red;
  text-align: center;
  /* background-color: rgba(12, 12, 68, 0.234); */
}

@media only screen and (max-width: 600px) {
  .header{
    flex-direction:column-reverse;

  }
  .Hero{
    width: 100%;
    /* border: 1px solid red; */

  }
  .intro{
    padding-top: 2rem;
    font-size: medium;
    margin-left: 8rem;
    margin-top: 10rem;
  }
}git commit -m "added responsiveness to current data"